.topBar{
    z-index: 5;
    position: fixed;
    left: 200px;
    height: 50px;
    width: calc(100vw - 200px);
    background-color: white;
    border-bottom: 1px solid rgb(216, 216, 216);

    @media (max-width: 710px) {
        left: 100px;
    width: 100%;

    }

    .profileInfo{
     
    }
}