.leftBar {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #141414;
  display: flex;

  @media (max-width: 710px) {
      
  width: 100px;
    
  }



  .mobile-routines{
    display: none;

    @media (max-width: 710px) {
      
      display: block;
      position: absolute;
      top: 40px;
      left: 25px;
      
    }

    .mobile-icon{
      font-size: 3rem;
      background-color: #141414  ;
      color: white;

    }

  }

  
  hr {
    border: 1px solid white;
  }

  a {
    text-decoration: none;
    background-color: #141414;
    height: inherit;
    width: 200px;

    @media (max-width: 710px) {
      width: 100px !important;
    }
  }

  .logo {
    padding-top: 10px;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: #141414;
    width: 200px;
    height: 50px;
    font-size: 1.7rem;
    color: #f2f2f2;
    font-weight: 200;

    @media (max-width: 710px) {
      display: none;
    }
  }

  .buttons-container {
    margin-top: 100px;
    position: inherit;
    display: flex;
    flex-direction: column;

    @media (max-width: 710px) {
      display: none;
    }

    .section {
      width: 160px;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 20px;
      color: #f2f2f2;
      background-color: #141414;
    }

    .section:hover {
      user-select: none;
      cursor: pointer;
      background-color: #3b3b3b;
    }
  }
}
